
*{ outline: none !important; }

:focus,
:focus-within,
:active,
:hover,
:visited {
    outline: 0 !important;
}

::-moz-selection { backgroun: transparent }
::selection { background: transparent; }
    
body, html{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body{ 
  margin:0px;
  padding: 0px;
  font-family: 'Montserrat Regular';
}

.page{
    display: none;
    width: 100%;
} 

.page.active{
    display: block !important;
}

*{
 outline: none;   
}

.ajax-loading-medium{
    text-align: center;
}

.ajax-loading-medium img{
    width: 62px; 
}

.currentPageActive{
    z-index: 99999999;
}

 
.bg-login{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/login-background.png") no-repeat center 10px fixed;
  -webkit-background-size: cover;
  background-size: cover;
 
}

.animated-page{
    position: absolute;
    top:0px;
    display: block;
}

.logo{
    margin: 108px auto 20% auto;
    text-align: center;
}

.logo img{
    /*
    width: 206px;
    height: 206px;
    */
    width: 206px;
}

 

.loginData{ 
  width: 85%;
  padding: 20px 10px 10px 10px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.login-input{
  margin-bottom: 3px;
  border:none;
  padding: 10px;
  width: 100%;
}

.login-input,
.login-input:focus,
.login-input:active,
input[type="text"],
input[type="text"]:focus,
input[type="text"]:active {
    outline: none;
    border-bottom-style: solid;
    background: #FFF;
    padding: 15px;
    border: none;
    font-family: Montserrat Regular;
}

input.ico-mail{
    background: rgba(0, 0, 0, 0) url("../images/login-email.png") no-repeat scroll 10px center;
    background-size: 8%;
    padding-left: 50px;
}

input.ico-pass{
    background: rgba(0, 0, 0, 0) url("../images/home-contrasenyes.png") no-repeat scroll 13px center;
    background-size: 6%;
    padding-left: 50px;
}

.bg-primary{
  background: #E18560;
}

.cblanco{ color : #FFF; }

#btn-login, .btnlogin{
    background: #E18560;
    margin: auto;
    color: #FFF;
    width: 100%;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;;
}

.remember{
    margin: 5px 0px;
    display: block;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

.notAccount{
    margin-top: 10px;
    display: block;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
}

.header-bar ~ .content {
    margin-bottom: 70px;
    margin-top: 50px;
}

.content-header{
    margin-top: 50px; 
}

[data-page="home"]{
    position: absolute;
    right: -360px;
    top: 0px;
    background: #F3F2F3;
}

[data-start="right"]{
    position: absolute;
    right: -360px;
    top: 0px; 
}

[data-start="left"]{
    position: absolute;
    left: -360px;
    top: 0px; 
}


[data-start="bottom"]{
    position: absolute;
    left: 0px;
    top: 640px; 
}


/****************************** HEADERS **************************/

header nav, .algo{
    position: absolute;
    top:0px;
    left: 0px;
    height: 50px;
    background: #E18560;
    width: 100%;
}

footer nav{
    position: absolute;
    bottom:0px;
    left: 0px;
    height: 50px;
    background: #494949;
    width: 100%;
    z-index: 100;
}


header nav .btn , footer nav .btn{
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align: center;
     
}

header nav .btn img , footer nav .btn img{
    margin:auto;
}

.sidebar{ margin-top: 50px; } 

ul , li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


header nav .btn.left , footer nav .btn.left {  float: left; }
header nav .btn.right , footer nav .btn.right {  float: right; }

header nav .btn i , footer nav .btn i{
    display: block;
    height: 50px;
    width: 50px;
    background-size: 40%;
    position: relative;
}

header nav .btn .ico-lupa , 
footer nav .btn .ico-lupa { background: url('../images/header-nav-search.png') no-repeat center center ; background-size: 40%; }
header nav .btn .ico-bar3 , 
footer nav .btn .ico-bar3 { background: url('../images/header-nav-menu.png') no-repeat center center ; background-size: 40%; }
header nav .btn .ico-arrow-back { background: url('../images/header-nav-turn-back.png') no-repeat center center ; background-size: 40%; }
footer nav .btn .ico-mail { background: url('../images/bottom-nav-email.png') no-repeat center center ; background-size: 70%; }
footer nav .btn .ico-rs { background: url('../images/bottom-nav-regularitzacions.png') no-repeat center center ; background-size: 70%; }
footer nav .btn .ico-top { background: url('../images/bottom-nav-oportunitats.png') no-repeat center center ; background-size: 70%; }



header nav .title {
    text-align: center;
    height: 50px;
    display: block;
    vertical-align: middle;
    color:#FFF;
    font-size: 20px;
    padding-top: 12px;
    text-transform: uppercase;
}

footer nav .title{
    text-align: center;
    height: 50px;
    display: block;
    vertical-align: middle;
    color:#FFF;
    font-size: 20px;
    
}

header nav .title.left { text-align: left; padding-left: 20px;}
header nav .title.right { text-align: right; padding-right: 20px;}

header nav .title img{
    max-height: 40px;
    margin-top: -8px;
}

.content-padding{
    padding: 37px;
}

.content{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 92%;
    display: block;
    overflow: auto;
    background: #FFF;
}

.numberCount{
    background: red none repeat scroll 0 0;
    border-radius: 25px;
    bottom: 5px;
    color: #fff;
    display: inline-flex;
    padding: 0 5px;
    position: absolute;
    right: 3px;
    font-size: 12px;
}

.sidebar-right{
    padding: 20px 0px 0px  30px;
}

.sidebar{
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5000;
}

.sidebar .sibar-content{
    background: #e18560 none repeat scroll 0 0;
    display: block;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
    width: 70%;
    padding-bottom: 40px;
}

.sidebar .sibar-content .close{
    display: block;
    height: 29px;
    margin-left: 20px;
    margin-top: 30px;
    width: 27px;
    background: url('../images/menu-close.png') no-repeat;
    background-size:100%;
    cursor: pointer;
}

.bgbase{ background: #F3F2F3;}
.bgColor{ background: #E18560;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.avatar{ display: block; }

.avatar img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#detailsAvatar img{
    width: 200px;
    margin: 50px 0 10px 0;
}

/*** MENU **/
.item-option{
    margin: 0px;
    padding: 20px;
    display: block;
}

.item-option li {
    list-style: none;
    margin-bottom: 10px;
}

.item-option li a{
    background: #FFF;
    color: #000;
    border-radius: 7px;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
     
    -webkit-box-shadow: 2px 2px 3px -1px rgba(225,224,225,1);
    -moz-box-shadow: 2px 2px 3px -1px rgba(225,224,225,1);
    box-shadow: 2px 2px 3px -1px rgba(225,224,225,1);
    
}

.item-option li a {
    cursor: pointer;
}

.item-option li a .icon{
    display: block;
    float: left;
    height: 50px;
    margin-right: 10px;
    margin-top: -16px;
    width: 50px;
}

.icon-folder{ background: url('../images/home-fitxa-client.png') no-repeat center center ; background-size: 60%; }
.icon-mail{ background: url('../images/home-email.png') no-repeat center center ; background-size: 60%; }
.icon-cataleg{ background: url('../images/home-cataleg.png') no-repeat center center ; background-size: 60%; }
.icon-productes{ background: url('../images/home-producte.png') no-repeat center center ; background-size: 60%; }
.icon-top{ background: url('../images/home-oportunitats.png') no-repeat center center ; background-size: 60%; }
.icon-pass{ background: url('../images/home-contrasenyes.png') no-repeat center center ; background-size: 48%; } 
.icon-accident{ background: url('../images/home-accidents.png') no-repeat center center ; background-size: 60%; }
.icon-rg{ background: url('../images/home-regularitzacions.png') no-repeat center center ; background-size: 60%; }

.nice-name{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color:#FFF;
    display: block;
    margin: 10px 0px;
}

.bottom-area{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #FFF;
}

.bottom-area ul {  margin: 20px 0px; padding: 0px; }

.bottom-area ul li{  
        background: #F3F2F3;
        list-style: none;
        
}

.bottom-area ul li a{
    padding: 7px;
    border-bottom: 1px solid #E4E2E4;
    display: block;
    cursor: pointer;
}

.icon-config{
    background: url('../images/menu-config.png') no-repeat 9px 8px ; 
    background-size: 8%;
    padding-left: 40px !important;
}

.icon-equip{
    background: url('../images/menu-equip.png') no-repeat 9px 8px ; 
    background-size: 7%;
    padding-left: 40px  !important;
}

.icon-notification{
    background: url('../images/menu-alert.png') no-repeat 10px 5px; 
    background-size: 6%;
    padding-left: 40px  !important;;
}
 

.separador{
    display: block;
    height: 15px;
}

.bottom-area ul li:last-child{
    border-bottom: none;
}

ul.box{
    padding: 20px;
}

a{
    cursor: none;
}

/********************* TEAM */

.category-team{
    background: #9b9b9b none repeat scroll 0 0;
    border-radius: 9px;
    color: #fff;
    float: right;
    margin-top: -5px;
    padding: 5px 15px;
    width: 63%;
}

#equip-list li{
    margin-bottom: 20px;
}

[data-page="detailsEquip"] .bottom-area ul{  margin:0px; }
[data-page="detailsEquip"] .bottom-area ul li {  padding:10px; border-bottom: 1px solid #E4E2E4; }
[data-page="detailsEquip"] .bottom-area ul li a { border-bottom: none;} 

.title-small {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

[data-page="detailsEquip"] .bottom-area ul {
    position: absolute;
    bottom: 0px;
    width: 100%; 
}

.modal-info{
    background: linear-gradient(0deg, rgba(220, 191, 167, 0.92), rgba(220, 191, 167, 0.92)), url(../images/login-background.png) no-repeat;
    height: 100%;
    background-size: contain; 
    position: relative;
}

.closex{
    width: 30px;
    height: 30px;
    background: url(../svg/close_x.svg) no-repeat center;
    display: block;
    border-radius: 50px;
}

.closex-left-top{
    position: absolute;
    left: 9.83%;
    top: 9%;
}

.modal-logo{
    position: absolute;
    right: 20px;
    top: 53px;
    width: 105px;
    height: 105px;
}

.modal-info {
    font-weight: 500 ;
}
.modal-logo img { width: 100%; height: 100%; }
.modal-info .modal-content{ padding: 175px 60px 0px 60px;}
.modal-info a {
    text-decoration: none;
    color:#000;
} 
.remember-email{
    border-bottom: 1px solid #E18560;
    margin-top: 15px; 
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .3s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

.list-entidad{
    padding-left: 28px;
    display:none;
}

.list-entidad li {
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
    color: #FFF;
    font-weight: 600;
}

.list-entidad li.firts{
    display: none;
}


#entidad-select{
    color: #FFF;
    font-size: 18px;
    padding: 0px 0px 10px 28px;
    font-weight: bold;
    display: block;
}
 
#entidad-select i{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../svg/arrow-down.svg) center center no-repeat;
    margin-right: 16px;
    position: relative;
    margin-left: -30px; 
}

#entidad-select span{}

.options-menu{
    margin-left: -6px;
    overflow: auto;
}

.options-menu li {}
.options-menu li i{
    display: block;
    width: 22px;
    height: 19px;
    float: left;
    margin-top: 17px;
    text-align: center;
    margin-right: 12px;
}
.options-menu li span{
    display: block;
    margin-left: 29px;
    padding: 17px 0px;
    color: #FFF;
    border-top: 1px solid #FFF;
}

#lopd-title{
    padding-top: 30px;
    font-size: 24px;
    display: block;
    margin-bottom: 30px;
}

#lopd-body{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    overflow: auto;  
    
}

.logo-cia{
    display: block;
    margin: 17px 0px;
    text-align: center;
}
.logo-cia img{
    margin: auto auto;
    max-width: 172px;
    max-height: 88px;
    color: #FFF;
     
}

.preloadimg{
    margin-bottom: 20px;
   /*
    background: url(../images/loading.svg) center center no-repeat;
    background-size: 30px;
    min-height: 60px;
   */
}

header{
    position: relative;
}

.productos{ padding: 0px 10px; }

.productos .boxProduc{
    padding: 10px 40px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 15px;
    line-height: 28px;
    border-radius: 10px;
    position: relative;
}
.productos .boxProduc:after{
    content: ' ';
    background: url(../svg/arrow-right.svg) center center no-repeat;
    width: 12px;
    height: 20px;
    display: block;
    position: absolute;
    top: 29%;
    right: 13px;
}


.productos .boxProduc:before{
    content: ' ';
    width: 22px;
    height: 20px;
    display: block;
    position: absolute;
    top: 14px;
    left: 10px;
}

.productos .boxProduc.lotiene:before{
    background: url(../svg/circle-check.svg) center center no-repeat;
}

.productos .boxProduc.nolotiene:before{
    background: url(../svg/circle-orange.svg) center center no-repeat;
}



.productos .boxProduc.lotiene{
    background: #E18560;
}
.productos .boxProduc.nolotiene{
    background: #777778;
}
